{% extends "pages/game_map.html" %}

{% block scripts %}
{{super()}}
<script type="text/javascript">
$(document).ready(function(){
	$(".players.list input.player").click(function(){
		player = $(this);
		$.ajax({
			url:'/location/player',
			type:"post",
			dataType:"JSON",
			data:{id:player.val()},
			success:function(data){
				$(".map").trigger({
					type:'add_player',
					lat:data.lat,
					lng:data.lng
				})
			}
		});
	});
	if($(".player:selected").length<1){
		$(".player:first").click();
	}else if($("input.player:first").length>0){
		$("input.player:first").click();
	}
});
</script>
{% endblock %}

{% block content %}
<div class="score">Current Score:<span class="number">{{game.count_score()}}</span> points</div>
<form method="post" action="{{ url_for('.challenge_player',key=game.short) }}">
	<fieldset>
		<legend><h3>Throw the ball to:</h3></legend>
		<ul class="players list">
			{% for player in players %}
			{% if loop.first and loop.last %}
			<li>
				<input type="hidden" class="player" name="player_id" value="{{player.id}}" />
				{% if player.name %}{{player.name}}{% endif %}&nbsp;<em>{{player.phone}}</em>
			</li>
			{% else %}
			<li><label class="radio"><input type="radio" class="player" name="player_id" value="{{player.id}}" />{% if player.name %}{{player.name}}{% endif %}&nbsp;<em>{{player.phone}}</em></label></li>
			{% endif %}
			{% endfor %}
		</ul>
	</fieldset>
	<fieldset>
		<legend><h3>Tap map to aim before throwing</h3></legend>
		<input type="hidden" name="lat" />
		<input type="hidden" name="lng" />
		<input type="submit" class="button" value="Throw Ball" />
		<!--
		<label for="map_search">Search Map For Location</label>
		<input id="map_search" type="text" />
		-->
		<div class="map"></div>
	</fieldset>
</form>
{% endblock %}