{% extends "pages/home_page.html" %}

{% block scripts %}
{{super()}}
<script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAbEb1hpiYk-X8qwAsFGOrsnv04_imHDpw&sensor=true">
    </script>
	<script type="text/javascript" src="{{ url_for('.static', filename='js/map.js') }}"></script>
{% endblock %}

{% block content %}
<form method="post" action="{{ url_for('start_game') }}">
	<input type="hidden" name="lat" />
	<input type="hidden" name="lng" />
	<label for="target">Who do you want to play with?</label>
	<input id="target" type="text" name="target" />
	<label for="map_search">Search Map For Location</label>
	<input id="map_search" type="text" />
	<div class="map"></div>
	<input type="submit" value="Start" />
</form>
{% endblock %}