{% extends "pages/layout.html" %}

{% block scripts %}
{{super()}}
<script type="text/javascript" src="{{ url_for('static', filename='js/track_location.js') }}"></script>
{% endblock %}

{% block content %}
<p>Send a ball to your friend, where ever they are.  They will have to run for it to catch it, but be nice because they will be throwing balls for you too.</p>
<p>It's all through text messaging, so what's your number?</p>
<form action="{{ url_for('.signup') }}" method="POST">
	<legend>Enter your phone number to start a game</legend>
	<label for="name">Name</label>
	<input type="text" id="name" name="name" />
	<label for="phone_number">Mobile Number</label>
	<input class="required" type="text" id="phone_number" name="phone" value="" />
	<input type="submit" value="Get Running" />
</form>
{% endblock %}