<!DOCTYPE html>
<html>
<head>
	<title>{% if title %}{{title}}{% else %}Running Ball{% endif %}</title>
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;" />
	{% block styles %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
	{% endblock %}
	{% block scripts %}
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.address-1.4.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/page.js') }}"></script>
	{% endblock %}
</head>
<body>
	<div class="wrapper">
		<div id="head">
			{% block head %}
			{% if g.player %}
			{% if g.player.name %}{{g.player.name}}{% endif %}
			{% if g.player.phone %}{{g.player.phone}}{% endif %}
			<a href="{{ url_for('.logout') }}">Logout</a>
			{% else %}
			<a href="{{ url_for('.do_login') }}">Login</a>
			<a href="{{ url_for('.signup') }}">Sign Up</a>
			{% endif %}
			{% endblock %}
		</div>
		<div id="#content">
			{% with messages = get_flashed_messages() %}
			  {% if messages %}
			    <ul class=flashes>
			    {% for message in messages %}
			      <li>{{ message }}</li>
			    {% endfor %}
			    </ul>
			  {% endif %}
			{% endwith %}
			{% block content %}
			<p>Default Content</p>
			{% endblock %}
		</div>
		<div id="foot">
			{% block foot %}
			<div class="byline">
				<p>Built in less that 48 hours at Global Game Jam 2012 in San Francisco by Nick Reid, Julie Price, and Kevin Tsung.</p>
			</div>
			{% endblock %}
		</div>
	</div>
</body>
</html>