<!DOCTYPE html>
<html>
<head>
	<title>{% if title %}{{title}}{% else %}Global Game Jam 2012{% endif %}</title>
	{% block styles %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
	{% endblock %}
	{% block scripts %}
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.address-1.4.min.js') }}"></script>
	{% endblock %}
</head>
<body>
	<div class="wrapper">
		<div id="head">
			{% if g.player %}
			{% if g.player.name %}{{g.player.name}}{% endif %}
			{% if g.player.phone %}{{g.player.phone}}{% endif %}
			{% endif %}
		</div>
		<div id="#content">
			{% with messages = get_flashed_messages() %}
			  {% if messages %}
			    <ul class=flashes>
			    {% for message in messages %}
			      <li>{{ message }}</li>
			    {% endfor %}
			    </ul>
			  {% endif %}
			{% endwith %}
			{% block content %}
			<p>Default Content</p>
			{% endblock %}
		</div>
		<div id="foot">
			<div class="byline">
				<p>Built in less that 48 hours at Global Game Jam 2012</p>
			</div>
		</div>
	</div>
</body>
</html>