{% extends 'pages/home_page.html' %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
$(document).ready(function(){
	$("form input[value=new]").click(function(){
		$("#name").focus()
	})
	$("#name,#phone").change(function(){
		if(this.value!=""){
			$("form input[value=new]").attr("checked",true);
		}
	})
});
</script>
{% endblock %}

{% block content %}
<h3>Players in Game</h3>
<ul class="players list">
	{% for player in game.players %}
	<li>{{player.name}} <em>{{player.phone}}</em>
	{% endfor %}
</ul>
<form method="post" action="{{ url_for('.pick_players',key=game.short)}}">
	{% for player in friends %}
	<label class="radio"><input class="player existing" type="radio" name="player_id" value="{{player.id}}" />{{player.name}} <em>({{player.phone}})</em></label>
	{% if loop.last %}
	<label class="radio"><input type="radio" name="player_id" value="new" />Add a new player</label>
	{% endif %}
	{% else%}
	<input type="hidden" name="player_id" value="new" />
	{% endfor %}
	<fieldset>
		<legend><span>Add a new player</span></legend>
		<label for="name">Name</label>
		<input id="name" type="text" name="name" />
		<label for="phone">Phone Number</label>
		<input id="phone" type="text" name="phone" />
	</fieldset>
	<input class="button" type="submit" value="Invite to Game" />
</form>
{% endblock %}