{% extends 'pages/home_page.html' %}

{% block content %}
<h3>Players in Game</h3>
<ul class="players list">
	{% for player in game.players %}
	<li>{{player.name}} <em>{{player.phone}}</em>
	{% endfor %}
</ul>
<form method="post" action="{{ url_for('.pick_players',key=game.short)}}">
	{% for player in friends %}
	<label><input type="radio" name="phone" value="{{player.phone}}" />{{player.name}} <em>({{player.phone}})</em></label>
	{% endfor %}
	<input type="submit" />
</form>
<form method="post" action="{{ url_for('.pick_players',key=game.short) }}">
	<legend>Add a player</legend>
	<label for="name">Name</label>
	<input id="name" type="text" name="name" />
	<label for="phone">Phone Number</label>
	<input id="phone" type="text" name="phone" />
	<input type="submit" value="Add Player" />
</form>
{% endblock %}